{% extends "AcmeAddressbookBundle::layout.html.twig" %}

{% block title "Address book - Add user" %}

{% block content %}
    <h1>Add user</h1>
    <hr>
    <br>
    {%
        include 'AcmeAddressbookBundle:partials:form.html.twig' with {
            'form': form,
            'formAction': path('_addressbook_add'),
         }
    %}
{% endblock %}
